@media screen and (max-width: 1220px) {
  .container {
    max-width: 1000px;
    padding: 0 40px;
  }
  .info-photo img {
    width: 260px
  }
  .about-img {
    width: 50%;
  }
}
@media screen and (max-width: 1000px) {
  .info-inner {
    gap: 40px;
    flex-direction: column;
    align-items: center;
  }
  .info-left {
    width: 600px;
  }
  .info-photo img {
    width: 320px
  }
  .reviews-text {
    max-width: 80%;
  }
}
@media screen and (max-width: 900px) {
  .header-logo img {
    height: 35px;
  }
  .header-inner {
    font-size: 14px;
  }
  .nav-list {
    gap: 20px;
  }
}
@media screen and (max-width: 750px) {
  header {
    padding: 25px 0;
  }
  .header-logo img {
     height: 45px;
   }
  .container {
    padding: 0 20px;
  }
  .header-nav {
    display: none;
  }
  .header-phone {
    display: none;
  }
  .burger {
    display: block;
  }
  .menu {
    display: block;
  }

  .main-subtitle {
    font-size: 22px;
    padding-bottom: 20px;
  }
  .main-title {
    font-size: 46px;
    line-height: 58px;
  }
  .main-btn span {
    padding: 20px 40px;
  }

  .info-left {
    width: 95%;
  }
  .info-photo {
    width: 95%;
    height: auto;
    gap: 10px;
    flex-direction: column;
  }
  .info-photo img {
    z-index: 2;
    position: static;
    width: 60%
  }
  .info-img1 {
    margin-left: auto;
  }
  .info-img2 {
    margin-right: auto;
  }
  .info-rectangle {
    width: 85%;
    height: 85%;
    position: absolute;
  }
  .about-title {
    font-size: 32px;
    line-height: 58px;
  }
  .about-text {
     font-size: 14px;
     line-height: 26px;
  }
}
@media screen and (max-width: 600px) {
  .main-subtitle {
    font-size: 18px;
    padding-bottom: 20px;
  }
  .main-title {
    font-size: 32px;
    line-height: 42px;
  }
  .main-buttons {
    flex-direction: column;
    align-items: start;
    gap: 30px;
  }
  .reviews-title {
    font-size: 32px;
  }
  .reviews-text {
    font-size: 14px;
    line-height: 35px;
  }
  .about-item {
    flex-direction: column;
  }
  .about-item:nth-child(odd) {
    flex-direction: column-reverse;
  }
  .about-img {
    width: 100%;
  }
}