* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Poppins', sans-serif;
}
.container {
  margin: 0 auto;
  width: 100%;
  max-width: 1190px;
  padding: 0 20px;
}
a {
  text-decoration: none;
  color: inherit;
}

/* Header */

header {
  padding: 50px 0;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}
.header-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}
.nav-list {
  display: flex;
  list-style-type: none;
  gap: 45px;
}
.nav-item:hover .border {
  width: 60%;
}
.border {
  display: block;
  width: 0%;
  transition: .3s;
  height: 2.5px;
  background-color: #fff;
}
.header-phone {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
}

/* Burger */

.burger {
  display: none;
  width: 20px;
  height: 20px;
  padding: 0;
  color: #fff;
  background-color: transparent;
  position: absolute;
  top: 35px;
  right: 40px;
  cursor: pointer;
  border: none;
  z-index: 2;
}
.burger::before,
.burger::after {
  display: block;
  content: '';
  position: absolute;
  left: 0;
  width: 100%;
  height: 3px;
  background-color: currentColor;
  transition: transform 0.3s ease-in-out, top 0.3s ease-in-out;
  border-radius: 2px;
}
.burger::before {
  top: 0;
}

.burger::after {
  top: calc(100% - 3px);
}

.burger span {
  display: block;
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  height: 3px;
  background-color: currentColor;
  transform: translateY(-50%);
  transition: transform 0.3s ease-in-out;
  border-radius: 2px;
  z-index: 3;
}
.burger.active {
  color: #000;
}
.burger.active::before {
  top: 50%;
  transform: rotate(45deg);
  transition: transform 0.3s ease-in-out, top 0.3s ease-in-out;
}

.burger.active::after {
  top: 50%;
  transform: rotate(-45deg);
  transition: transform 0.3s ease-in-out, top 0.3s ease-in-out;
}

.burger.active > .burger-line {
  transform: scale(0);
  transition: transform 0.3s ease-in-out;
}

/* Menu */

.menu {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-color: #fff;
  z-index: 1;
  transform: translateX(-100%);
  transition: .3s;
  padding-top: 50px;
}
.menu.active {
  transform: translateX(0);
}
.menu-list {
  list-style-type: none;
  padding-bottom: 30px;
}
.menu-item {
  color: #333;
  padding: 15px;
  border-bottom: 1px solid #E7E7E7;
}
.menu .main-social {
  padding: 20px;
}
.menu .main-social-btn {
  border: 1px solid #3a4574;
  color: #3a4574;
}
.menu .main-social-btn:hover {
  background-color: #3a4574;
  color: #fff;
  transform: scale(1.1);
}
.menu-phone {
  padding-left: 20px;
  display: flex;
  gap: 10px;
}


/* Main */

.main {
  background-image: url('../img/mainbg.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: #fff;
}
.main-inner {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 900px;
}
.main-subtitle {
  font-weight: 500;
  font-size: 24px;
  line-height: 32px;
  padding-bottom: 24px;
}
.main-title {
  font-weight: 700;
  font-size: 64px;
  line-height: 88px;
  padding-bottom: 40px;
}
.main-buttons {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main-btn {
  background-color: #3a4574;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  color: #fff;
  border: none;
  cursor: pointer;
  position: relative;
}
.main-btn span {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
  padding: 30px 64px;
}
.main-btn:before,
.main-btn:after {
  position: absolute;
  content: "";
  right: 0;
  bottom: 0;
  background: #fff;
  transition: all 0.3s ease;
}
.main-btn:before{
   height: 0%;
   width: 2px;
}
.main-btn:after {
  width: 0%;
  height: 2px;
}
.main-btn:hover:before {
  height: 100%;
}
.main-btn:hover:after {
  width: 100%;
}
.main-btn span:hover{
  color: #fff;
}
.main-btn span:before,
.main-btn span:after {
  position: absolute;
  content: "";
  left: 0;
  top: 0;
  background: #fff;
  transition: all 0.3s ease;
}
.main-btn span:before {
  width: 2px;
  height: 0%;
}
.main-btn span:after {
  height: 2px;
  width: 0%;
}
.main-btn span:hover:before {
  height: 100%;
}
.main-btn span:hover:after {
  width: 100%;
}

.main-social {
  display: flex;
  align-items: center;
  gap: 25px;
}
.main-social-btn {
  cursor: pointer;
  border-radius: 50%;
  background-color: transparent;
  border: 1px solid #fff;
  color: #fff;
  width: 48px;
  height: 48px;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  transition: .3s;
}
.main-social-btn:hover {
  background-color: #3a4574;
  transform: scale(1.07);
}

/* Info */
.info {
  padding: 80px 0 90px;
}
.info-inner {
  display: flex;
  justify-content: space-between;
}
.info-item {
  border-bottom: 1px solid #E7E7E7;
  padding: 20px 0;
}
.info-title {
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  padding-bottom: 10px;
}
.info-text {
  font-weight: 400;
  font-size: 18px;
  line-height: 32px;
}
.info-text span {
  color: #D3B47F;
}
.info-photo {
  width: 668px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 631px;
}
.info-rectangle {
  width: 471px;
  height: 502px;
  border: 2px solid #D3B47F;
}
.info-photo img {
  position: absolute;
}
.info-img1 {
  left: 0;
  bottom: 0;
}
.info-img2 {
  right: 0;
  top: 0;
}

/* Reviews */

.reviews {
  padding: 220px 0;
  background-color: #3a4574;
}
.swiper-slide {
  text-align: center;
}
.reviews-title {
  color: #D3B47F;
  font-weight: 600;
  font-size: 36px;
  line-height: 40px;
  padding-bottom: 20px;
  padding-top: 34px;
}
.reviews-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 40px;
  color: #fff;
  padding-bottom: 40px;
  max-width: 785px;
  margin: 0 auto;
}
.reviews-author {
  font-weight: 600;
  font-size: 24px;
  line-height: 40px;
  letter-spacing: 0.245em;
  color: #D3B47F;
}
.swiper-button-next:after, .swiper-button-prev:after {
  color: #fff;
}

